.wrapper {
  min-height: 100%;
  position: relative;
}

.footer {
position:absolute;
/*bottom: 0;*/
width: 100%;
background: #363636;
margin-bottom: -50px;

}


#hr_main {
  margin-top: 20px;
    margin-bottom: 20px;
    border: 25;
    border-top: 5px solid #00bdaa;
}




/* .nav-links {
  margin-left: 10%;
} */

.nav .navbar-nav {
 /*  font-size: 10px; */
  color: #ececec;
}


.navbar-inverse .navbar-nav>li>a {
    color: #ececec;
}

.navbar-collapse {
  background-color: #363636;
}


.main-nav {
  padding: 15px;
  text-transform: uppercase;
}

html, body {
margin : 0;
padding : 0;
height: 100%;
}

.text-muted {
color: #e3e3e3;
text-align: center;
font-size: 12px;
margin: 20px 0 10px;
}


.navbar-inverse {
  background-color: #363636;
}


.form-box {
  text-align: center;
  padding-top: 60px;
    padding-bottom: 40px;
}

.dropdown-menu {
  width: 100%;
}

 .navbar {
    border-radius: 0px;
 }

/*select {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #57bab6;
    padding: 20px;
    margin-bottom: 30px;
    width: 32%;
}*/

.button {
  float: left;
   background-color: #00bdaa;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 48%;
    margin: 0 1%;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-main {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}





.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.main_footer {
  width: 100%;
  padding: 80px 0 55px 0;
  background-color: #383c3c;
  border-bottom: 0.2px solid grey; 
}


.footer-narrow-wrapper {
  background-color: #383c3c;
  text-decoration: none;
}

.footer-links {
  padding: 10px;
  list-style-type: none;
}
.campus {
  color: white;
}

.footer-info {
  width: 268px;
}

.info {
  width: 221px;
  list-style-type: none;
}

.uni_list {
  list-style-type: none;
  padding: 0px; 
}


.form1 {
    padding-top: 50px;

}

.form-control {
    width: 80%;
}

.able {
    width: 100%;
}

.btn-info {
  background-color: #00bdaa;
      padding: 10px 16px;
}

.btn-info2 {
  background-color: #00bdaa;
      padding: 13px 16px;
}

.btn-edit {
  padding: 10px;
}

.btn-remove {
  padding: 10px;
}

.side-nav {
  top: 8200px;
}


.navbar-brand {
  padding: 0px;
}

#heading {
  
  font-family: 'Roboto', sans-serif; 
  font-weight: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: px;
  width: auto;
}


.add-next-page {
      padding-top: 70px;
}

.pages {
      padding-bottom: 50px;
      float: left;
}

.add-btn {
  background-color: #00bdaa;
    padding: 20px 20px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 0px;
    float: right;
    color: white;

}



.dropdown {
  max-width: 350px;
  margin: 2em auto;
  background: #2980b9;
}

.dropdown-title {
  position: relative;

  padding: .5em;
  font-weight: 200;
  color: #fff;
  cursor: pointer;
}

.dropdown-title:before {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  
  width: 55px;
  height: 100%;
  -webkit-transition: .4s .3s;
  -moz-transition: .4s .3s;
  transition: .4s .3s;
}

.dropdown-title:after {
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 20px;
  margin: auto;
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid #fff;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}

/*a[aria-expanded="true"]{
  padding-top: 100px;
}
*/

.dropdown-list {
  display: none;
  list-style: none;
  padding: .9em;
  color: #fff;
  font-weight: 120;
  cursor: pointer;
}

.dropdown-list:hover { background: rgba(0, 0, 0, 0.2); }



.dropdown-list:nth-child(odd):hover { background: rgba(0, 0, 0, 0.2); }




#suggestion-box {
  color: #000;
  display: none;
  font-family: inherit;
  border: 1px solid #ccc;
  background: #fff;
  padding: 0;
  margin: 0 10px 0 0; }
  #suggestion-box #no-suggestions {
    padding: 10px; }
  #suggestion-box ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both; }
    #suggestion-box ul > li {
      padding: 0;
      margin: 0; }
      #suggestion-box ul > li a {
        display: block;
        height: 100%;
        color: inherit;
        text-decoration: none;
        padding: 10px; }
  #suggestion-box .selected {
    background-color: #eee; }
  #suggestion-box #suggestion-header {
    margin-right: 10px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 0.8em;
    color: #999;
    float: right; }










/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
.uel {
  width: 120px;
}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}



/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
.line-break {
  display: none;
}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
 
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
 .footer-wrapper {
    text-align: center;
  }

    .uel {
    padding: 25px;
  } 
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */


   .footer-wrapper {
    text-align: center;
  }

    .uel {
    padding: 25px;
  } 

   .line-break {
  display: block;
}
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .footer-wrapper {
    text-align: center;
  }

    .uel {
    padding: 25px;
  } 

  #line-break {
  display: block !important;
}

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
  .footer-wrapper {
    text-align: center;
  }


  .uel {
    padding: 25px;
  }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */

}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}




/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { 

.line-break {
  display: none;
}


}

@media all and (min-width: 320px) {}
@media all and (min-width: 768px) {}
@media all and (min-width: 1024px) {}
@media all and (min-width: 1366px) {}



@media all and (min-width: 768px) { 

.button {
  max-width: 200px;
}

.line-break {
  display: none;
}
}


